@using Microsoft.CodeAnalysis.Scripting
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Play.</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/PlayLogo.png" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="lib/fontawesome/css/fontawesome-iconpicker.min.css">
    @await RenderSectionAsync("Styles", required: false)  
    
    <!-- SCRIPTS -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js" ></script> 
    <script src="lib/fontawesome/js/fontawesome-iconpicker.min.js" ></script>
    @await RenderSectionAsync("Scripts", required: false)

</head>
<body>

@RenderBody()  


</body>
</html> 