@using Microsoft.AspNetCore.Mvc.TagHelpers;
@model LoginViewModel
@{ 
    ViewData["Title"] = "Login"; 
}

@*<section id="contact" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <form id="contact-form" role="form" action="" method="post">
                    <div class="section-title">
                        <h1>Say hello to us</h1>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <input type="text" class="form-control" placeholder="Full name" name="name" required="">
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <input type="email" class="form-control" placeholder="Email address" name="email" required="">
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <input type="submit" class="form-control" name="send message" value="Send Message">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" rows="8" placeholder="Your message" name="message" required=""></textarea>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>*@
<style> 
        #LoginPageContainer {
        padding-bottom: 40px;
        position: relative;
        padding-left: 10px;
        -ms-border-radius: 5px;
        border-radius: 5px; 
        border: 1px solid #eee;
        background-color: #fff;
        color: #000;
        -ms-transition: transform .1s;
        -o-transition: transform .1s;
        -webkit-transition: transform .1s;
        transition: transform .1s;
        -moz-filter: drop-shadow(5px 5px 8px #213848) !important;
        -webkit-filter: drop-shadow(5px 5px 8px #213848) !important;
        filter: drop-shadow(5px 5px 8px #213848) !important;
    }
</style>
<section id="contact" data-stellar-background-ratio="0.5">
    <div class="container" style="width: 50%;">
        <div class="row">
    <div  class="login-page">
        
        <partial name="_ValidationSummary"/>
                <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12">
            @if (Model.EnableLocalLogin)
            {
                <div >
                                <div id="LoginPageContainer"  class="card">
                                    <div class="lead">
                                        <h1 style="text-align: center;">Login</h1>
                                        <p style="text-align: center;">Choose how to login</p>
                                    </div> 

                        <div class="card-body">
                            <form asp-controller="Accounts" asp-action="Login">
                                <input type="hidden" asp-for="ReturnUrl"/>

                                <div class="form-group">
                                    <label asp-for="Username"></label>
                                    <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                </div>
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" asp-for="RememberLogin">
                                            <label class="form-check-label" asp-for="RememberLogin">
                                                Remember My Login
                                            </label>
                                        </div>
                                    </div>
                                }
                                <button class="btn btn-primary" type="submit" name="button" value="login">Login</button>
                                <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            }

            @*@if (Model.VisibleExternalProviders.Any())
            {
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>External Account</h2>
                        </div>
                        <div class="card-body">
                            <ul class="list-inline">
                                @foreach (ExternalProviderModel provider in Model.VisibleExternalProviders)
                                {
                                    <li class="list-inline-item">
                                        <a class="btn btn-secondary"
                                           asp-controller="External"
                                           asp-action="Challenge"
                                           asp-route-scheme="@provider.AuthenticationScheme"
                                           asp-route-returnUrl="@Model.ReturnUrl">
                                            @provider.DisplayName
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }*@

            @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
            {
                <div class="alert alert-warning">
                    <strong>Invalid login request</strong>
                    There are no login schemes configured for this request.
                </div>
            }
        </div>  
    </div>
            </div>
        </div>
    </div>
</section>