@{ Layout = "_Layout"; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Email Verification Failed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand"/>
    <link rel="stylesheet" href="~/css/verification.css">
</head>
<body style="color: #f9f9f9">

<div class="preheader" style="color: #fff; display: none; font-size: 1px; line-height: 1px; max-height: 0; max-width: 0; opacity: 0; overflow: hidden;">
    Welcome to Play!
</div>

<table border="0" cellpadding="0" cellspacing="0" width="100%">

    <tr>
        <td align="center" class="backgroundColor">

            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                <tr>
                    <td align="center" valign="top" style="padding: 36px 24px;">
                    </td>
                </tr>
            </table>

        </td>
    </tr>

    <tr>
        <td align="center" class="backgroundColor">

            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                <tr>
                    <td align="left" class="formBackgroundColor titleText" style="border-top: 3px solid #f0f0f0; padding: 36px 24px 0;">
                        <h1 style="text-align: center;">
                            Email Verification Failed
                        </h1>
                    </td>
                </tr>
            </table>

        </td>
    </tr>

    <tr>
        <td align="center" class="backgroundColor">

            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">


                <tr>
                    <td align="left" class="formBackgroundColor formText" style="font-size: 16px; line-height: 24px; padding: 24px;">
                        <p style="margin: 0;">Your Email could not be successfully verified. If the confirmation code has expired a new confirmation code will be sent to your Email address on file.</p>
                    </td>
                </tr>

                <tr>
                    <td align="left" class="formBackgroundColor">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" class="formBackgroundColor" style="padding: 12px;">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="center" bgcolor="#1a82e2" style="border-radius: 6px;">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td align="left" class="formBackgroundColor formText" style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; padding: 24px;">

                        <p style="margin: 0;">
                            <a href="https://blogdesire.com" target="_blank"><!--*callbackUrl*--></a>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td align="left" class="formBackgroundColor" style="border-bottom: 3px solid #f0f0f0; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; padding: 24px;">

                        <span style="color: #213848 !important; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 24px; margin: 0;">Cheers,<br> </span>
                        <span>
                            <span style="color: #213848 !important; font-family: 'Quicksand', sans-serif; font-size: 24px; letter-spacing: 6px;">Play</span><span style="color: #00C3D9; font-weight: bold;">.</span>
                        </span>
                    </td>
                </tr>

            </table>

        </td>
    </tr>

    <tr>
        <td align="center" class="backgroundColor" style="padding: 24px;">

            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">

                <tr>
                    <td align="center" class="backgroundColor footerText" style="font-size: 14px; line-height: 20px; padding: 12px 24px;">
                        <p style="margin: 0;">You were navigated to this page because we received a request to create your account. If you didn't request to create an account you can safely leave this page.</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" class="backgroundColor footerText" style="font-size: 14px; line-height: 20px; padding: 12px 24px;">
                        <p style="margin: 0;">support@paywithplay.com</p>
                        <p style="font-size: 14px; margin: 0;">Dallas Texas🤠🐮⭐</p>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
</body>
</html>