@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Successfully Verified</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" href="~/css/verification.css">
</head>
<body style="color:#f9f9f9">

    <div class="preheader" style="display: none; max-width: 0; max-height: 0; overflow: hidden; font-size: 1px; line-height: 1px; color: #fff; opacity: 0;">
        Welcome to Play!
    </div>

    <table border="0" cellpadding="0" cellspacing="0" width="100%">

        <tr>
            <td align="center" class="backgroundColor">

                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td align="center" valign="top" style="padding: 36px 24px;">
                        </td>
                    </tr>
                </table>

            </td>
        </tr>

        <tr>
            <td align="center" class="backgroundColor">

                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td align="left" class="formBackgroundColor titleText" style="padding: 36px 24px 0; border-top: 3px solid #f0f0f0;">
                            <h1 style="
    text-align: center;">
                                Successfully Verified
                            </h1>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>

        <tr>
            <td align="center" class="backgroundColor">

                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">


                    <tr>
                        <td align="left" class="formBackgroundColor formText" style="padding: 24px; font-size: 16px; line-height: 24px;">
                            <p style="margin: 0;">Your Email was successfully verified. You may now safetly exit this screen.</p>
                        </td>
                    </tr>

                    <tr>
                        <td align="left" class="formBackgroundColor">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td align="center" class="formBackgroundColor" style="padding: 12px;">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="center" bgcolor="#1a82e2" style="border-radius: 6px;">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="left" class="formBackgroundColor formText" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">

                            <p style="margin: 0;"><a href="https://blogdesire.com" target="_blank"><!--*callbackUrl*--></a></p>
                        </td>
                    </tr>

                    <tr>
                        <td align="left" class="formBackgroundColor" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; border-bottom: 3px solid #f0f0f0">

                            <span style="margin: 0; color: #213848 !important; font-size: 14px;
    font-weight: normal;
    line-height: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; ">Cheers,<br> </span>
                            <span><span style="font-family: 'Quicksand', sans-serif; font-size: 24px; letter-spacing: 6px; color: #213848 !important">Play</span><span style="color:#00C3D9; font-weight: bold;">.</span></span>
                        </td>
                    </tr>

                </table>

            </td>
        </tr>

        <tr>
            <td align="center" class="backgroundColor" style="padding: 24px;">

                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">

                    <tr>
                        <td align="center" class="backgroundColor footerText" style="padding: 12px 24px; font-size: 14px; line-height: 20px;">
                            <p style="margin: 0;">You were navigated to this page because we received a request to create your account. If you didn't request to create an account you can safely leave this page.</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="backgroundColor footerText" style="padding: 12px 24px; font-size: 14px; line-height: 20px;">
                            <p style="margin:0;">support@paywithplay.com</p>
                            <p style="margin: 0; font-size: 14px">Dallas Texas🤠🐮⭐</p>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</body>
</html>


