<!-- FEATURE -->
<section id="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-offset-3 col-md-6 col-sm-12">
                <div class="home-info">
                    <div >
                        <img id="playLogoCatchphrase" style="margin: auto;" src="images/Logo_Catchphrase.png" class="img-responsive" alt="Play">                             
                    </div>

                @*    <div class="playLogo">
                        <p id="playLogoFont">play</p>
                        <p id="playLogoDot">.</p>
                    </div>
                    <p id="playLogoTagline">simplifying payments</p>*@

                    @* <form action="" method="get" class="online-form">
                        <input type="email" name="email" class="form-control" placeholder="Enter your email" required="">
                        <button type="submit" class="form-control">Get started</button>
                    </form>*@
                </div>
            </div>

        </div>
    </div>
</section>

<style>
 
</style>