@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ContactUsModel;

@{
    ViewData["Title"] = "Home Page";
}

 <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>

     
<partial name="~/Views/Shared/_Navbar.cshtml" /> 
<partial name="~/Views/Home/_LandingPage.cshtml" /> 
<partial name="~/Views/Products/_Products.cshtml" />
<partial name="~/Views/AboutUs/_AboutUs.cshtml" />
@*<partial name="~/Views/Pricing/_Pricing.cshtml" />*@

<partial name="~/Views/AboutUs/_ContactUs.cshtml" model="@Model" />


     
