@model Play.MerchantPortal.Client.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-right">
    @Html.ActionLink("Logout", "Logout", "Home");
</div>
<div class="text-center">
    <h1 class="display-4">Welcome @Model.GivenName</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Here is your Merchant Portal Access Token that will be used for calling the API:</p>
    <p>@Model.AccessToken</p>
</div>
